.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  color: black;
  background: white;
  padding: 1rem;
  border-radius: 16px;
  width: 90%;
  max-width: 660px;
  text-align: left;
}

.modal-title {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1.5rem;
}

.cancel-button,
.delete-button {
  border: 1px solid #999;
  background-color: white;
  font-weight: bold;
  padding: 0.5rem 2rem;
  border-radius: 8px;
  cursor: pointer;
}

.delete-button:disabled {
  background-color: #ccc;
  border-color: #ccc;
  cursor: not-allowed;
}
